table {
  width: 100%;
  margin-bottom: 20px;
max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
 

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table thead th {
  vertical-align: bottom;
}
table th {
  font-weight: bold;
}
table th, table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
table th, table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-bottom: : 1px solid #dddddd;
}